build/.DS_Store
.DS_Store
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CTestTestfile.cmake
build/runCPUTests
build/runTests
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-408832d3f25fe78854e5.json
build/.cmake/api/v1/reply/cmakeFiles-v1-a178a63b694b9ef2b282.json
build/.cmake/api/v1/reply/codemodel-v2-95a3159856633bdc21b0.json
build/.cmake/api/v1/reply/directory-_deps.googletest-build-Debug-325181791364522dc3de.json
build/.cmake/api/v1/reply/directory-_deps.googletest-build.googlemock-Debug-35e5654d16a05e14eb3b.json
build/.cmake/api/v1/reply/directory-_deps.googletest-build.googletest-Debug-4549c6e47c440b6ba0bd.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2025-02-04T06-15-50-0544.json
build/.cmake/api/v1/reply/target-gmock_main-Debug-68c6102b10549645cc24.json
build/.cmake/api/v1/reply/target-gmock-Debug-6954f1cbfec966eed799.json
build/.cmake/api/v1/reply/target-gtest_main-Debug-41996b1387e5376a33fc.json
build/.cmake/api/v1/reply/target-gtest-Debug-e415a1b3b633a7dcf83d.json
build/.cmake/api/v1/reply/target-runCPUTests-Debug-3cd11601135be8afb205.json
build/.cmake/api/v1/reply/toolchains-v1-45c3f1d09b14804d283f.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.30.2/CMakeCCompiler.cmake
build/CMakeFiles/3.30.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.30.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.30.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.30.2/CMakeSystem.cmake
build/CMakeFiles/3.30.2/CompilerIdC/a.out
build/CMakeFiles/3.30.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.30.2/CompilerIdCXX/a.out
build/CMakeFiles/3.30.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/runCPUTests.dir/src/CPU.cpp.o
build/CMakeFiles/runCPUTests.dir/tests/CPU_test.cpp.o
build/CMakeFiles/runTests.dir/src/CPU.cpp.o
build/CMakeFiles/runTests.dir/tests/CPU_test.cpp.o
build/Testing/TAG
build/Testing/20250204-0537/Test.xml
build/Testing/Temporary/CTestCostData.txt
build/Testing/Temporary/LastTest_20250204-0537.log
build/Testing/Temporary/LastTest.log
build/_deps/googletest-build/cmake_install.cmake
build/_deps/googletest-build/CTestTestfile.cmake
build/_deps/googletest-build/googlemock/cmake_install.cmake
build/_deps/googletest-build/googlemock/CTestTestfile.cmake
build/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/src/gmock-all.cc.o
build/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/src/gmock_main.cc.o
build/_deps/googletest-build/googletest/cmake_install.cmake
build/_deps/googletest-build/googletest/CTestTestfile.cmake
build/_deps/googletest-build/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets-debug.cmake
build/_deps/googletest-build/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets.cmake
build/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/src/gtest-all.cc.o
build/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/src/gtest_main.cc.o
build/_deps/googletest-build/googletest/generated/gmock_main.pc
build/_deps/googletest-build/googletest/generated/gmock.pc
build/_deps/googletest-build/googletest/generated/gtest_main.pc
build/_deps/googletest-build/googletest/generated/gtest.pc
build/_deps/googletest-build/googletest/generated/GTestConfig.cmake
build/_deps/googletest-build/googletest/generated/GTestConfigVersion.cmake
build/_deps/googletest-subbuild/.ninja_log
build/_deps/googletest-subbuild/build.ninja
build/_deps/googletest-subbuild/cmake_install.cmake
build/_deps/googletest-subbuild/CMakeCache.txt
build/_deps/googletest-subbuild/CMakeLists.txt
build/_deps/googletest-subbuild/CMakeFiles/cmake.check_cache
build/_deps/googletest-subbuild/CMakeFiles/CMakeConfigureLog.yaml
build/_deps/googletest-subbuild/CMakeFiles/googletest-populate-complete
build/_deps/googletest-subbuild/CMakeFiles/rules.ninja
build/_deps/googletest-subbuild/CMakeFiles/TargetDirectories.txt
build/_deps/googletest-subbuild/CMakeFiles/3.30.2/CMakeSystem.cmake
build/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/Labels.json
build/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/Labels.txt
build/_deps/googletest-subbuild/googletest-populate-prefix/src/03597a01ee50ed33e9dfd640b249b4be3799d395.zip
build/_deps/googletest-subbuild/googletest-populate-prefix/src/5376968f6948923e2411081fd9372e71a59d8e77.zip
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/download-googletest-populate.cmake
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/extract-googletest-populate.cmake
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-build
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-configure
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-done
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-download
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-gitclone-lastrun.txt
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-gitinfo.txt
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-install
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-mkdir
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-patch
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-patch-info.txt
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-test
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-update-info.txt
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-urlinfo.txt
build/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/verify-googletest-populate.cmake
build/_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-cfgcmd.txt
build/_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-gitclone.cmake
build/_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-gitupdate.cmake
build/_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-mkdirs.cmake
build/lib/libgmock_main.a
build/lib/libgmock.a
build/lib/libgtest_main.a
build/lib/libgtest.a
.vscode/settings.json
.gitignore
.gitignore
.gitignore
build/Makefile
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/3.30.2/CompilerIdC/CMakeCCompilerId.o
build/CMakeFiles/3.30.2/CompilerIdCXX/CMakeCXXCompilerId.o
build/CMakeFiles/runCPUTests.dir/build.make
build/CMakeFiles/runCPUTests.dir/cmake_clean.cmake
build/CMakeFiles/runCPUTests.dir/compiler_depend.internal
build/CMakeFiles/runCPUTests.dir/compiler_depend.make
build/CMakeFiles/runCPUTests.dir/compiler_depend.ts
build/CMakeFiles/runCPUTests.dir/depend.make
build/CMakeFiles/runCPUTests.dir/DependInfo.cmake
build/CMakeFiles/runCPUTests.dir/flags.make
build/CMakeFiles/runCPUTests.dir/link.txt
build/CMakeFiles/runCPUTests.dir/progress.make
build/CMakeFiles/runCPUTests.dir/src/CPU.cpp.o.d
build/CMakeFiles/runCPUTests.dir/src/OpCode.cpp.o
build/CMakeFiles/runCPUTests.dir/src/OpCode.cpp.o.d
build/CMakeFiles/runCPUTests.dir/tests/CPU_test.cpp.o.d
build/Testing/Temporary/LastTestsFailed.log
build/_deps/googletest-build/Makefile
build/_deps/googletest-build/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/googletest-build/CMakeFiles/progress.marks
build/_deps/googletest-build/googlemock/Makefile
build/_deps/googletest-build/googlemock/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/googletest-build/googlemock/CMakeFiles/progress.marks
build/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/build.make
build/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/cmake_clean_target.cmake
build/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/cmake_clean.cmake
build/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/compiler_depend.internal
build/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/compiler_depend.make
build/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/compiler_depend.ts
build/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/depend.make
build/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/DependInfo.cmake
build/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/flags.make
build/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/link.txt
build/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/progress.make
build/_deps/googletest-build/googlemock/CMakeFiles/gmock.dir/src/gmock-all.cc.o.d
build/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/build.make
build/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/cmake_clean_target.cmake
build/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/cmake_clean.cmake
build/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/compiler_depend.internal
build/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/compiler_depend.make
build/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/compiler_depend.ts
build/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/depend.make
build/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/DependInfo.cmake
build/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/flags.make
build/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/link.txt
build/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/progress.make
build/_deps/googletest-build/googlemock/CMakeFiles/gmock_main.dir/src/gmock_main.cc.o.d
build/_deps/googletest-build/googletest/Makefile
build/_deps/googletest-build/googletest/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/googletest-build/googletest/CMakeFiles/progress.marks
build/_deps/googletest-build/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets-noconfig.cmake
build/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/build.make
build/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/cmake_clean_target.cmake
build/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/cmake_clean.cmake
build/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/compiler_depend.internal
build/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/compiler_depend.make
build/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/compiler_depend.ts
build/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/depend.make
build/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/DependInfo.cmake
build/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/flags.make
build/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/link.txt
build/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/progress.make
build/_deps/googletest-build/googletest/CMakeFiles/gtest.dir/src/gtest-all.cc.o.d
build/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/build.make
build/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/cmake_clean_target.cmake
build/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/cmake_clean.cmake
build/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/compiler_depend.internal
build/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/compiler_depend.make
build/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/compiler_depend.ts
build/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/depend.make
build/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/DependInfo.cmake
build/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/flags.make
build/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/link.txt
build/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/progress.make
build/_deps/googletest-build/googletest/CMakeFiles/gtest_main.dir/src/gtest_main.cc.o.d
build/_deps/googletest-subbuild/Makefile
build/_deps/googletest-subbuild/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/googletest-subbuild/CMakeFiles/CMakeRuleHashes.txt
build/_deps/googletest-subbuild/CMakeFiles/Makefile.cmake
build/_deps/googletest-subbuild/CMakeFiles/Makefile2
build/_deps/googletest-subbuild/CMakeFiles/progress.marks
build/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/build.make
build/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/cmake_clean.cmake
build/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/compiler_depend.make
build/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/compiler_depend.ts
build/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/DependInfo.cmake
build/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/progress.make
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_arithmetic_test.cpp.o
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_arithmetic_test.cpp.o.d
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_branching_test.cpp.o
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_branching_test.cpp.o.d
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_compare_test.cpp.o
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_compare_test.cpp.o.d
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_control_test.cpp.o
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_control_test.cpp.o.d
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_core_test.cpp.o
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_core_test.cpp.o.d
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_flag_test.cpp.o
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_flag_test.cpp.o.d
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_loadstore_test.cpp.o
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_loadstore_test.cpp.o.d
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_logical_test.cpp.o
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_logical_test.cpp.o.d
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_shiftrotate_test.cpp.o
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_shiftrotate_test.cpp.o.d
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_transferstack_test.cpp.o
build/CMakeFiles/runCPUTests.dir/tests/CPU/CPU_transferstack_test.cpp.o.d
